Keycloak: Implement support for credential_request_encryption

The issuer metadata now supports credential request encryption:

> credential_request_encryption: OPTIONAL. Object containing information about whether the Credential Issuer supports encryption of the Credential Request on top of TLS.

> jwks: REQUIRED. A JSON Web Key Set, as defined in [[RFC7591](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7591)], that contains one or more public keys, to be used by the Wallet as an input to a key agreement for encryption of the Credential Request. Each JWK in the set MUST have a kid (Key ID) parameter that uniquely identifies the key.
> enc_values_supported: REQUIRED. Array containing a list of the JWE [[RFC7516](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7516)] encryption algorithms (enc values) [[RFC7518](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7518)] supported by the Credential Endpoint to decode the Credential Request from a JWT [[RFC7519](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7519)].
> zip_values_supported: OPTIONAL. Array containing a list of the JWE [[RFC7516](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7516)] compression algorithms (zip values) [[RFC7518](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#RFC7518)] supported by the Credential Endpoint to uncompress the Credential Request after decryption. If absent then no compression algorithms are supported. The Wallet may use any of the supported compression algorithm to compress the Credential Request prior to encryption.
> encryption_required: REQUIRED. Boolean value specifying whether the Credential Issuer requires the additional encryption on top of TLS for the Credential Requests. If the value is true, the Credential Issuer requires encryption for every Credential Request. If the value is false, the Wallet MAY choose whether it encrypts the request or not.

> When performing Credential Request encryption, the Client MUST encode the information in the Credential Request in a JWT as specified by [Section 9.4](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-16.html#encrypted-messages), using the parameters from the credential_request_encryption object in the Credential Issuer Metadata.

Estimated time for the ticket: 3 days.

Link to draft PR: https://github.com/adorsys/keycloak-oid4vc/pull/103

KC PR: https://github.com/keycloak/keycloak/pull/42169